body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard {
  background-color: #C7DFC5 !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 15px !important;
  text-shadow: 2px 2px 5px #698d66;
}

.dashboard:hover {
  background-color: white !important;
  color: #C7DFC5 !important;
  text-shadow: none;
}
.trips {
  background-color: #FCE694 !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 15px !important;
  text-shadow: 2px 2px 5px #9c8738;
}

.trips:hover {
  background-color: white !important;
  color: #FCE694 !important;
  text-shadow: none;
}
.expense {
  background-color: #C1DBE3 !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 15px !important;
  text-shadow: 2px 2px 5px #5c7a83;
}

.expense:hover {
  background-color: white !important;
  color: #C1DBE3 !important;
  text-shadow: none;
}

.tracker:hover {
  background: #6393C1;
  background: -webkit-linear-gradient(to right, #6393C1 0%, #CFE7fA 100%);
  background: -moz-linear-gradient(to right, #6393C1 0%, #CFE7fA 100%);
  background: linear-gradient(to right, #6393C1 0%, #CFE7fA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tracker {
  background: #CFE7fA;
  background: -webkit-linear-gradient(to right, #CFE7fA 0%, #6393C1 100%);
  background: -moz-linear-gradient(to right, #CFE7fA 0%, #6393C1 100%);
  background: linear-gradient(to right, #CFE7fA 0%, #6393C1 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
